.typography_title {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    width: 100%;
    margin: 0;
}

.typography_title::before {
    right: .5em;
    margin-left: -50%;
}

.typography_title::after {
    left: .5em;
    margin-right: -50%;
}

.typography_title:after,
.typography_title:before {
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 25%;
}