@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 250, 250, 250;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 250, 250, 250;
}

.bg-violeta {
  background-color: #5c284e;
}

.violeta {
  color: #5c284e
}

.theme-light {
  --foreground-rgb: 250, 250, 250;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 250, 250, 250;
}

.theme-dark {
  --foreground-rgb: 250, 250, 250;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
